html, body{
    color: white;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: GeneralFont;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

header .nav-links {
    font-family: GeneralFont;
    color: white;
}


#root {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
}

.homepage {
    min-height: 100vh;
    width: 100%;
}

.topbar {
    /* background-color: aquamarine; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 7.5rem;
    display: flex;
    align-items: center;
    z-index: 100;
    padding-left: 4rem;
    padding-right: 8rem;
}

main {
    padding-top: 15rem;
    padding-left: 10rem;
    padding-right: 4rem;
}

main .title{
    font-size: 3.8rem;
    margin-right: 4.5rem;
    /* background-color: tomato; */
    height: 18.5rem;
}

main .title span:last-child {
    /* display: inline-block; */
    min-width: auto;
}

main .titleDescription {
    padding-top: 2rem;
    /* background-color: turquoise; */
    margin-right: 46%;
    font-size: 1.5rem;
}

main .skillset-container {
    height: 47.5rem;
    width: 100%;
    display: flex;
}

main .skillset-section{
    font-size: 3.5rem;
    margin-right: 4.5rem;
    /* height: 20.5rem; */
    /* background-color: blueviolet; */
}

main .grid-container {
    /* background-color: turquoise; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    margin-top: 2rem;
}

main .grid-section{
    /* background-color: rgba(2, 143, 98, 0.1); */
    border-radius: 1rem;
    height: 17.5rem;
    padding: 2rem;
    font-size: 1.5rem;
    display: flex;
    align-items: start;
}

main .grid-section-title{
    width: 100%;
    align-items: center;
}


@font-face {
    font-family: TitleFont;
    src: url('../assets/fonts/AbhayaLibre-SemiBold.ttf');
    font-display: swap;
}

@font-face {
    font-family: GeneralFont;
    src: url('../assets/fonts/ABeeZee-Regular.ttf');
    font-display: swap;
}

.IndexFont {
    font-family: TitleFont;
    height: 100%;
    font-size: 2.5rem;
}
